@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

h1{
    color:magenta;
    font-family: 'Noto Sans KR', sans-serif;
}

.red{
    color:red;
}

.yellow{
    color:yellow;
}
.orange{
    color:orange;
}
#green{
    background:black;
    color:green;
}